<!--<div class="row">
        <div class="col-sm-8" *ngFor="let myItem of myItems; let i=index;">.
               <div class="">
                    <img src="{{ myItem.item_image}}" />
                    <p>{{ myItem.name }}</p>
               </div> 
        </div>
        <div class="col-sm-4">.col-sm-8</div>
      </div>-->
      <table>
        <tr *ngFor="let item of items; let i=index;">
           <!-- <td> {{ myItem.id }} </td>-->
            
           <td><a [routerLink]="['/item',item.id ]"><img src="{{ item.item_image}}" /></a> </td>
            <td>{{ item.name }} <br/> {{ item.item_code }}</td>
            <th>Price</th><td>{{ item.item_price }}</td>
           <th>Qty</th><td><input type="number" [value]="item.quantity"  (input)="item.quantity =$event.target.value?$event.target.value:0" min="0" /></td>
           <td><button (click)="AddToCart()">Add to Cart</button></td>
           <!-- <td>{{ myItem.description }}</td>-->
        </tr>
    </table>
    <button>Total Price : {{ totalAmount }}</button>