  <div class="container" *ngIf="item">
     
      <div class="item">
        <div class="row">
          <div class="col-lg-10 col-lg-push-1 col-md-12">
            <div class="row">
              <div class="item-profile col-md-4"><img src="{{item.item_image}}" alt="t-shirt" class="img-fluid">                
              </div>
              <div class="item-info col-md-8">
                <div class="item-info-wrapper">
                  <h2 class="text-primary">{{item.name}}</h2>
                  <p>{{ item.item_description }}
                  </p>
                  <ul class="product-info list-unstyled">                   
                    <li class="price">Price : <span class="price">{{item.item_price | currency:'INR'}}</span></li>
                  </ul>
                  <button class="btn btn-primary" (click)="returnHome()">Back to Catalog</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>